html{
  height: 100%;
  overflow: hidden;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  padding-left: 160px;
  background-color: white;
  z-index: 1000;
  position: absolute;
  width: 100%;
}

.header-title-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-title-container h1 {
  font-size: 30px;
  color: rgb(35, 168, 124);
  margin: 0;
}

.header-title-container h2 {
  font-size: 25px;
  color: rgb(1, 5, 4);
  margin: 0;
}

.header-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.bgreen{
	background-color: #0B5351;
}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}
.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}
.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  padding-right: 50px;
  /* height: 30px; */
  background-color: rgb(35, 168, 124);
  color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  display: block;
  color: whitesmoke;
  padding: 0 20px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 1px 1px 0px rgba(2, 2, 2, 0.5);
  
}

nav ul li a:hover{
  /* background-color: aquamarine; */
  color: inherit;
  text-decoration: none;
}

navbar-left-side {
  display: flex;
}

header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  transform-style: inherit;
  width: 100vw;
}

header h1, i {
  margin-top: -200px;
  color: whitesmoke;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 20px;
  text-shadow: 2px 2px 0px rgba(2, 2, 2, 0.9);
}
header div i {
  margin-top: -130px;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 20px;
  text-shadow: 2px 2px 0px rgba(2, 2, 2, 0.9);
}
header div{
  width: 100%;
  display: flex;
  justify-content: center;
}
header, header:before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(./../assets/5628075-venezuela-wallpapers.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: 1px;
  min-height: 100vh;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.reserve-button {
  color: inherit;
  text-decoration: none !important;
  font-size: 45px !important;
}
.reserve-icon {
  font-size: 40px;
  color: inherit;
  text-shadow: none;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  background-color: white;
  position: absolute;
  flex-direction: column;
}
.form-container{
  padding: 30px 250px;
  width: 100%;

}
.form-container form{
  display: flex;
  justify-content: center;
}
.form-container form input {
  margin: 0 5px;
}
.form-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 150px;
}
.form-logo{
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.form-text-container{
  width: 100%;
}
.form-text-container h2 {
  font-size: 30px;
  color: rgb(35, 168, 124);
}

.second-container {
  display: flex;
  justify-content: space-between;
}

.img-hab {
  width: 240px;
  height: 175px;
}

.secondary-color {
  background-color: #ddf9ff !important;
  width: 100%;
}
.no-margin {
  margin: 0 !important;
}
.icon-container {
  margin-top: 10px;
}
.hotel-icon{
  font-size: 25px !important;
  color: rgb(35, 168, 124);
  text-shadow: none;
}
.suite-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.margin-hab{
  margin-right: 30px;
}
.suite-title{
  font-size: 20px;
  font-weight: bold;
  color: rgb(35, 168, 124);
}
.suite-text{
  font-size: 14px;
  margin-right: 30px;
  font-weight: bold;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.button-container h2 {
  font-size: 16px;
  color: #23a87c;
  font-weight: bold;
  width: 150px;
  text-align: center;
}
.custom-button {
  background-color: #23a87c;
  border: none;
  color: white;
  font-family: inherit;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
.custom-input {
  border: 1px solid #23a87c;
  background-color: #deefe9;
  color: #23a87c;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-container-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.social-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.social-icon {
  margin: 0;
  color: rgb(35, 168, 124);
  text-shadow: none;
  cursor: pointer;
}
.navbar-left-side-icon{
  display: none;
}

.no-link {
  text-decoration: none;  
  color: white;

}

.no-link:hover {
  color:white;
  text-decoration: none;
  font-weight: bold;
}
.emergency-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../assets/5628075-venezuela-wallpapers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.emergency {
  padding: 5px;
  background-color: #0B5351;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center; 
  flex-direction: column;
  border: 1px solid white;
 }
@media (max-width: 1100px) {
  .navbar-left-side {
    display: none;
  }
  .navbar-left-side-icon {
    display: flex;
  }
}